<%- include('./partials/header') %>


<div class="log">
    
         <h2><strong>Post A Project</strong></h2>
        
            <form action="/company" method="post">
            
                <div class="input-cont"> <input required  type="text" name="Name" placeholder="Name of Company">  <div class="border2"></div></div>
                <div class="input-cont"> <input required  type="text" name="Address" placeholder="Address">  <div class="border2"></div></div>
                <div class="input-cont"> <input required  type="text" name="img" placeholder="Image of Company"> <div class="border2"></div></div>
                <div class="input-cont"> <input required  type="text" name="CompanyType" placeholder="Company Type"> <div class="border2"></div></div>
                <div class="input-cont"> <input required  type="text" name="ContractType" placeholder="Contract Type"> <div class="border2"></div></div>
                <div class="input-cont"> <input required  type="text" name="Crop" placeholder="Name of Crop"> <div class="border2"></div></div>
                <div class="input-cont"> <input required  type="text" name="Price" placeholder="Price offered Per Quintol"> <div class="border2"></div></div>
                <div class="input-cont"> <input required  type="text" name="Cin" placeholder="CIN"> <div class="border2"></div></div>
                <div class="input-cont"> <input required  type="email" name="email" placeholder="email"> <div class="border2"></div></div>
                <div class="input-cont"><input  required type="tel" name="phone" placeholder="phone" > <div class="border2"></div></div>
                <div class="clear"></div>
                <input type="submit" value="SUBMIT"> 
            </form>
        </div>
    </div>
    
</div>



<%- include('./partials/footer') %>